$primary-backgroundColor: #202020;
$secondary-backgroundColor: #303030;

$primary-fontColor: #EEEEEE;
$secondary-fontColor: #E0E0E0;



html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    height: 100%;
    background-color: $primary-backgroundColor;
}

.app-container {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

.flex {
    &--row {
        display: flex;
        flex-direction: row;
    }
    &--column {
        display: flex;
        flex-direction: column;
    }
    &--grow {
        display: flex;
        flex-grow: 1;
    }
    &--shrink {
        display: flex;
        flex-shrink: 1;
    }
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.buckets {
    @include flexColumn;
    flex-grow: 3;
    & .buckets__installed, & .buckets__notInstalled {
        height: 50%;
        background-color: $secondary-backgroundColor;
        padding: 10px;
        margin: 5px;
    }
}

.content {
    @include flexColumn;
    flex-grow: 7;
    & .appInfo, & .tabs {
        height: 50%;
        background-color: $secondary-backgroundColor;
        padding: 10px;
        margin: 5px;
        position: relative;
        overflow: hidden;
    }

    & .tabs {
        justify-content: space-between;
    }
}

span {
    color: $primary-fontColor;

    &.spanTitle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.app-list {
    overflow: auto;
    &::-webkit-scrollbar {

    }
}

.appDiv {
    margin: 5px;
    padding: 10px;
    background-color: $primary-backgroundColor;
    color: $secondary-fontColor;
    font-family: sans-serif;
    & .appName {
        display: block;
    }
}